<% provide(:title, "勤怠ログ") %>
<h1>勤怠ログ</h1>

<div class="container">
  <div>
    <tr>
      <td><%= l(@first_day, format: :middle) %></td>
    <tr>
  </div>
  <table class="table table-bordered table-condensed log-table">  
    <tr>
      <td>日付</td>
      <td>変更前出社時間</td>
      <td>変更前退社時間</td>
      <td>変更後出社時間</td>
      <td>変更後退社時間</td>
      <td>指示者</td>
      <td>承認日</td>
    </tr>
    <tr>
      <% @attendances.each do |day| %>

      <% end %>
    </tr>
  </table>
</div>