<% provide(:title, "勤怠ログ") %>
<h1>勤怠ログ</h1>

<div class="container">
  <div>
    <% form_with model: @attendances, method: :get, url: attendances_attendance_log_user_path do |f| %>
      <%= f.date_select :select_year,
        { end_year: Time.now.year, prompt: "年", discard_month: "true", discard_day: "true" },
        { id: "log-sch", class: "form-control form-sch" } %>
      <%= f.date_select :select_month,
        { use_month_numbers: true, prompt: "月", discard_year: "true", discard_day: "true" },
        { id: "log-sch", class: "form-control form-sch" } %>
      <%= f.submit "検索", class: 'btn' %>
    <% end %>
  </div>
  <table class="table table-bordered table-condensed log-table">  
    <tr>
      <td>日付</td>
      <td>変更前出社時間</td>
      <td>変更前退社時間</td>
      <td>変更後出社時間</td>
      <td>変更後退社時間</td>
      <td>指示者</td>
      <td>承認日</td>
    </tr>
    <tr>
      <% @attendances.each do |day| %>

      <% end %>
    </tr>
  </table>
</div>